<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mtas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <permission
        android:name="com.example.mtas.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.mtas.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Needed for BOOT_COMPLETED broadcast receiver -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <!-- LICENSE PERMISSIONS -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.mtas.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mtas.MainActivity" />
        </activity>
        <activity
            android:name=".SaveCurrentReception"
            android:label="@string/title_activity_save_current_reception" >
        </activity>
        <activity
            android:name=".FilterActivity"
            android:label="@string/title_activity_filter" >
        </activity>
        <activity
            android:name=".NetworkFragment"
            android:label="@string/title_activity_section_1" >
        </activity>
        <activity
            android:name=".ServiceFragment"
            android:label="@string/title_activity_section_2" >
        </activity>
        <activity
            android:name=".StrengthFragment"
            android:label="@string/title_activity_section_3" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcom" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordedReceptions"
            android:label="@string/title_activity_recorded_receptions" >
        </activity>
        <activity
            android:name=".MakerFragment"
            android:label="@string/title_activity_maker_fragment" >
        </activity>
        <activity
            android:name=".ModelFragment"
            android:label="@string/title_activity_model_fragment" >
        </activity>

        <service
            android:name=".AutoSaveService"
            android:enabled="true"
            android:exported="false" >
        </service>

	 <!-- Declaring broadcast receiver for BOOT_COMPLETED event. -->
        <receiver android:name=".BootCompletedReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
		<receiver android:name=".BootCompletedReceiver" />
        <receiver android:name=".AutoUploadBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Adding Google Play Service Version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC9D5D6JT7yMP732DGQtKZ538RmnO4FQm4" />

        <activity
            android:name=".MyReceptions"
            android:label="@string/title_activity_my_receptions" >
        </activity>
        <activity
            android:name=".ClusterReportFragment"
            android:label="@string/title_activity_cluster_report" >
        </activity>
    </application>

</manifest>
